.spot {
    background-color: yellow;
    height: 15px !important;
    width: 15px !important;
    border-radius: 50%;
}

#jakarta-spot {
    left: 32%;
    top: 100%;
    position: absolute;
    z-index: 999;
}

#bandung-spot {
    left: 29%;
    top: 73%;
    position: absolute;
    z-index: 999;
}

#surabaya-spot {
    left: 40%;
    top: 73%;
    position: absolute;
    z-index: 999;
}

#makassar-spot {
    left: 47%;
    top: 70%;
    position: absolute;
    z-index: 999;
}

#palembang-spot {
    left: 20%;
    top: 62%;
    position: absolute;
    z-index: 999;
}

.ware-loc {
    z-index: 20 !important;
}

#warehouse {
    /* left: 20%; */
    top: -72%;
    position: absolute;
    z-index: 999;
}

#delivery {
    left: 20%;
    top: -72%;
    position: absolute;
    z-index: 999;
}

#channel {
    left: 33.3%;
    top: -72%;
    position: absolute;
    z-index: 999;
}

#jakarta {
    z-index: 99;
    position: absolute;
    left: 31%;
    top: 35%;
}

#bandung {
    z-index: 99;
    position: absolute;
    left: 28%;
    top: 33%;
}

#surabaya {
    z-index: 99;
    position: absolute;
    left: 39%;
    top: 33%;
}

#palembang {
    z-index: 99;
    position: absolute;
    left: 19%;
    top: 21%;
}

#makassar {
    z-index: 99;
    position: absolute;
    left: 46%;
    top: 29%;
}

@font-face {
    font-family: "sui";
    src: url("../fonts/sui\ generis\ free.ttf");
    }

/* mqr */
.our-service-st{
    margin-top: -90px;
    width: 260px; 
    height: 370px; 
    background-color: white; 
    justify-content: center;
    box-shadow: 0 -10px 24px 0  rgba(30, 44, 90, 0.2), 0 32px 44px -24px rgba(30, 44, 90, 0.2), 0 20px 25px 0px rgba(30, 44, 90, 0.2), 0 15px 10px -10px rgba(30, 44, 90, 0.2);
    border-radius: 10px;
}
.container-carosel {
    height: 550px;
}

.image-item-c {
    display: block;
    /* margin-top: 20px; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 40%;
}

/* ul .bulet {
    list-style-type: bullet;
    display: block;
    justify-content: left;
    background: white;
} */

.content-oser {
    font-size: small;
    margin: 16px;
    text-align:left;
}

.l-b-pre {
    /* margin-top: 200px; */
    margin-left: 435px;
}
.r-b-nex {
    /* margin-top: 200px;
    margin-right: 400px; */
    margin-left: 240px;
}

.l-b-pre-pr {
    /* margin-top: 200px; */
    margin-left: 325px;
}
.r-b-nex-pr {
    /* margin-top: 200px;
    margin-right: 400px; */
    margin-left: 450px;
}

.next-item-cor {
    /* position: absolute; */
    margin-top: 200px;
    margin-left: -378px;
}

.next-item-cor-pr {
    position: absolute;
    margin-top: 150px;
}

.grey-muda {
    color: lightslategray;
    opacity: 0.5;
}
/* mqr */

#img{
    position: relative;
    z-index: 1;
    top: 0px;
}

#leader-1:hover{
    background-color: #F5F5F5;
}

#leader-2:hover{
    background-color: #F5F5F5;
}

#leader-3:hover{
    background-color: #F5F5F5;
}

#leader-4:hover{
    background-color: #F5F5F5;
}

#leader-5:hover{
    background-color: #F5F5F5;
}

/* #mengapa-spot {
    position: absolute;
			left: 40px;
			top: 170px;
			color: magenta;
} */
